<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.mapper.UserMapper">
    <insert id="createUser">
        INSERT INTO t_user(username, password, email)
        VALUES (#{username}, #{password}, #{email})
    </insert>

    <update id="resetPassword">
        UPDATE t_user
        SET password = #{password}
        WHERE email = #{email}
    </update>

    <select id="findByUsernameOrEmail" resultType="com.ming.entity.auth.User">
        SELECT *
        FROM t_user
        WHERE username = #{text}
           OR email = #{text}
            AND deleted = 0
    </select>

</mapper>